* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* =========== Header section ========== */
.header {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .text {
  font-size: 80px;
  margin-bottom: 32px;
  font-weight: 800;
}

.header .img {
  width: 400px;
  height: 700px;
  padding-top: 10px;
}

.header .btn {
  margin-top: 32px;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
  color: white;
}

/* ========== Main Section ========== */

/* ==========common section========== */
.main,
.Delivery-support,
.Instagram {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* ==========common section========== */

.main .header-text {
  margin-top: 174px;
  text-align: center;
}
.main h1 {
  font-size: 40px;
}
.main p {
  margin-top: 24px;
}
.main .img {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
  gap: 40px;
}
.main img {
  padding: 50px;
  background: rgba(71, 125, 17, 0.15);
  border: none;
  border-radius: 500px 500px 0 0;
  width: 315px;
  height: 470px;
}
.div {
  display: flex;
  justify-content: space-between;
}
.div p {
  margin-bottom: 60px;
  text-decoration: underline;
  margin-bottom: 100px;
}

/* ========== Delivery - Support section ========== */

.Delivery-support .deliveryImg {
  width: 88px;
  height: 88px;
}
.Delivery-support {
  background: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  padding: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.Delivery-support p {
  margin-top: 24px;
  font-size: 24px;
}
.Delivery-support img {
  margin-left: 100px;
}

/* ==========Hot Deal ! Sale section========== */
.Deal-Sale {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.Deal-Sale button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: white;
  border: none;
  margin-left: 200px;
}
.Deal-Sale h1 {
  text-align: center;
}
.Deal-Sale p {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}
.Deal-Sale img {
  width: 318px;
  height: 420px;
}

/* ========== Instagram section ========== */


.Instagram{
  margin-top: 128px;
}

.Instagram p,h1{
  text-align: center;
}
.Instagram p{
  margin-bottom: 48px;
  margin-top: 10px;
}

.Instagram img{
  width: 320px;
  height: 396px;
}
.Instagram-Img{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 20px;
}